<div id="outer-wrap">
    <div id="inner-wrap">

        <header role="banner">
            <a class="open-btn btn btn-default pull-left" id="nav-open-btn" href="#nav"><i
                    class="fa fa-navicon"></i></a>

            <h1 class="block-title">

                Self service </h1>
        </header>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Mon planing</a></li>
            <li role="presentation"><a href="#">Synchronization</a></li>
            <li role="presentation"><a href="#">Options</a></li>
        </ul>
        <a class="btn btn-default close-btn" id="nav-close-btn" href="#top"><i class="fa fa-close"></i> Fermer</a>

        <div id="content" role="main">
            <div class="week-container">
                <h2>Semaine {{week_number}}</h2>

                <div class="week">
                    {{#week}}
                        <div class="day"><h3>{{label}} <small>{{dayofmonth}} {{monthlabel}} {{year}}</small></h3>
                            {{#constraints}}
                                <a class="btn btn-block btn-{{level}}">{{label}}</a>
                            {{/constraints}}
                            <a class="btn btn-primary add" data-toggle="modal" data-target="#modal-add-constraint" data-date="{{date}}"><i class="fa fa-plus-square"></i></a>
                        </div>
                    {{/week}}

                    <div class="stat"><h3>Cumuls</h3>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 60%;">
                                1022H
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>


        </footer>

    </div>
    <!--/#inner-wrap-->
</div>
<!--/#outer-wrap-->

<!-- Modal -->
<div class="modal fade" id="modal-add-constraint" tabindex="-1" role="dialog" aria-labelledby="Add a constraint" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Poser une contrainte</h4>
            </div>
            <div class="modal-body">
                Pour le <span class="date-container"></span><br>
                <label>Intitulé </label>
                <input class="form-control" name="label">
                <label>Niveau </label>
                <select class="form-control" name="level">
                    <option value="warning">Contrainte faible</option>
                    <option value="danger">Contrainte forte</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Créer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-show-constraint" tabindex="-1" role="dialog" aria-labelledby="Add a constraint" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Détail d'une contrainte</h4>
            </div>
            <div class="modal-body">
                <h4>Titre</h4>
                Niveau <select></select>
                Créé le jj/mm/YYYY

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger">Effacer</button>
            </div>
        </div>
    </div>
</div>
