<div id="outer-wrap">
    <div id="inner-wrap">

        <header  role="banner">
            <a class="open-btn btn btn-default pull-left" id="nav-open-btn" href="#nav"><i class="fa fa-navicon"></i></a>

                <h1 class="block-title">

                    Book Title</h1>
        </header>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
        <a class="btn btn-default close-btn" id="nav-close-btn" href="#top"><i class="fa fa-close"></i></a>

        <!--

        <nav id="nav" role="navigation">
            <div class="block">
                <h2 class="block-title">Chapters</h2>
                <ul>
                    <li class="is-active">
                        <a href="#">Un sous menu</a>
                    </li> <li>
                    <a href="#">Un autre</a>
                </li> <li>
                    <a href="#">Un troisième</a>
                </li>
                </ul>
                <a class="btn btn-default close-btn" id="nav-close-btn" href="#top"><i class="fa fa-close"></i></a>
            </div>
        </nav>
-->
        <div id="content" role="main">
           <h2>Semaine 42</h2>
            <div class="week">
                <div class="day">Lundi</div>
                <div class="day">Mardi</div>
                <div class="day">Mercredi</div>
                <div class="day">Jeudi</div>
                <div class="day">Vendredi</div>
                <div class="day">Samedi</div>
                <div class="day">Dimanche</div>
                <div class="day">Cumuls</div>
            </div>
        </div>

        <footer role="contentinfo">

        </footer>

    </div>
    <!--/#inner-wrap-->
</div>
<!--/#outer-wrap-->


