@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;

}

#inner-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    z-index: 100;
    position: relative;
    color: #fff;
    background: #333333;
}

header h1 {
    text-align: center;
    white-space: nowrap;
    font-size: 150%;
}

header .btn {
    margin: 1em 0;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content .week-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.week .day,.week .stat {
    border: 1px solid gray;
}
.week .day .btn{
    position:absolute;
    bottom:1em;
    right:1em;
}
.week :first-child {
}

@media screen and (min-width: 45.0625em) {
    .open-btn, .close-btn {
        display: none;
    }

}

@media screen and (max-width: 45em) {
    .nav li {
        float: none;
    }

    .js-ready .nav {
        position: absolute;
        padding-top: 5em;
        top: 0;
        height: 100%;
        width: 70%;
        background: #333333;
        box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    }

    .js-ready .nav .block {
        background: transparent;
    }

    .js-ready .nav .close-btn {
        display: block;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }

    .js-ready .nav .close-btn:focus, .js-ready .nav .close-btn:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }

    .js-ready .nav {
        left: -70%;
    }

    .js-ready #inner-wrap {
        left: 0;
    }

    .js-nav #inner-wrap {
        left: 70%;
    }

    .csstransforms3d.csstransitions .js-ready .nav {
        left: 0;
        transform: translate3d(-100%, 0, 0);
        backface-visibility: hidden;
    }

    .csstransforms3d.csstransitions .js-ready #inner-wrap {
        left: 0 !important;
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease;
        backface-visibility: hidden;
    }

    .csstransforms3d.csstransitions .js-nav #inner-wrap {
        transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    }

    .csstransforms3d.csstransitions .js-ready .nav .block {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
        transition: opacity 300ms 100ms ease, transform 500ms ease;
        transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        transform-origin: 50% 0%;
    }

    .csstransforms3d.csstransitions .js-nav .nav .block {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 1em;
        left: -65%;
    }
}

@media screen and (orientation: portrait) {
    .week {
        flex:1;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .week > *{
        width:50%;
        overflow:hidden;
        position:relative;

    }
}

@media screen and (orientation: landscape) {
    .week {
        flex:1;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .week > *{
        width:25%;
        overflow:hidden;
        position:relative;

    }
}
